<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
  <display-name>tpm_project</display-name>
  
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>
  		org.springframework.web.servlet.DispatcherServlet
  	</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/dispatcher-servlet.xml
		</param-value>
	</init-param>
		<!-- <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				net.madvirus.spring4.chap09.config.MvcConfig
				net.madvirus.spring4.chap09.config.WsConfig
			</param-value>
			<param-value>
				tpm.sample.chat.MvcConfig
				tpm.sample.chat.WsConfig
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
		org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> -->
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 서플릿보다 먼저 수행 되게하는 필터 클래스 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<!--  무조건 encoding 이란 이름으로 작성해야 함. -->
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<!-- 모든 필터를 걸치게끔 설정 -->
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>