<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 

<configuration>
	<!-- <typeHandlers>
		<typeHandler handler="tpm.typehandler.CustomDateHandler"/>
	</typeHandlers> -->


	<mappers>
		<mapper resource="tpm/sql/categorySQL.xml"/>
		<mapper resource="tpm/sql/channel_memberSQL.xml"/>
		<mapper resource="tpm/sql/channelSQL.xml"/>
		<mapper resource="tpm/sql/chatSQL.xml"/>
		<mapper resource="tpm/sql/checklistSQL.xml"/>
		<mapper resource="tpm/sql/commentSQL.xml"/>
		<mapper resource="tpm/sql/fileSQL.xml"/>
		<mapper resource="tpm/sql/memberSQL.xml"/>
		<mapper resource="tpm/sql/myfriendSQL.xml"/>
		<mapper resource="tpm/sql/noticeSQL.xml"/>
		<mapper resource="tpm/sql/project_memberSQL.xml"/>
		<mapper resource="tpm/sql/projectSQL.xml"/>
		<mapper resource="tpm/sql/tendencySQL.xml"/>
		<mapper resource="tpm/sql/work_memberSQL.xml"/>
		<mapper resource="tpm/sql/workSQL.xml"/>
		<mapper resource="tpm/sql/sampleSQL.xml"/>
		<mapper resource="tpm/study/sql/studySQL.xml"/>
<!-- 		<mapper resource="whwns/sql/memberSQL.xml"/> -->
	</mappers>
</configuration>